/* Common card page styles */
.card-page {
  /* background: #132549; Light blue-purple gradient */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aliceblue;
  height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh; /* Ensure the page fills the height */
}
h1{
text-align: center;
color: #ded5af;
}
#card-content {
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1; /* Allow this part to grow and fill the available space */
}

.card-header h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  font-weight: 600;
}

/* Wrapper for the description and image */
.card-description-wrapper {
  background: rgba(255, 255, 255, 0.6); /* Translucent background */
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 1.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Text description */
.card-description {
  flex: 2;
  max-width: 700px;
  color: #3a3a39;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 10px;
  text-align: left;
  padding-right: 20px;
  overflow-wrap: break-word;
}

/* Image container */
.card-image-container {
  flex: 1;
  max-width: 500px;
  margin-left: 20px;
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  margin-top: 0;
  margin-bottom: 20px;
  filter: brightness(1.2);
}

.Back-video {
  width: 100%;
  height: 148%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Button styling */
.back-btn {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 30px;
}

.back-btn:hover {
  background-color: #ddd;
}

/* Footer styling */
#footer {
  
  background-color: #425478;
  text-align: center;
  padding: 10px;
  color: #fff8dc;
  margin-top: auto;
  bottom: 0%;
}
